<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发布需求</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../public/css/publish/Name.css">
</head>
<body>
<header class="header">
    <span class="icon-back">取消</span>
    <span class="header-title">发布需求</span>
    <span class="icon_right">发布</span>
</header>
<article class="select_box">
    <div class="box_1">
        <input type="text" class="box2_name" placeholder="蜡笔小新">
    </div>
    <div class="box_2">
        <input type="text" class="box2_name" placeholder="15851155442">
    </div>
    <div class="box_3">
        <input  type="text" class="box3_name" placeholder="描述一下你的需求，比如黄埔100-200m^2,5-6元/m^2/天，环境好点，底层，临近地铁">

    </div>
</article>
</body>
</html>