<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新增楼盘</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../public/css/publish/Newbuilding.css">
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">新增楼盘</span>
</header>
<article class="select_box">
    <div class="box_1">
        <input type="text" class="box2_name" placeholder="输入你想要增加的楼盘">
    </div>
    <div class="box_2">
        <input type="text" class="box2_name" placeholder="输入楼盘地址">
    </div>
    <div class="box_3">
        <input type="button" class="box3_name" value="确定提交">
    </div>
</article>
</body>
</html>