<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="南京睿冠网络科技有限公司">
    <meta name="description" content="南京睿冠网络科技有限公司  公司主要经营教育软件 多媒体技术 游戏软件 计算机数据处理技 术 计算机系统集成 教育信息咨询，公司秉承与客户共赢理念，为企业提供高效、务实的互联网营销服务，在专业 市场的电子商务建设领域具有独特优势和丰富经验。"/>
    <title>十面八房 - 南京睿冠网络科技有限公司</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../public/css/publish/Newbuilding.css">
</head>
<body>
<header class="header">
    <i class="icon-back" onclick="history.back()"></i>
    <span class="header_title">新增楼盘</span>
</header>
<article class="select_box">
    <div class="box_1">
        <input type="text" class="box2_name" placeholder="输入你想要增加的楼盘">
    </div>
    <div class="box_2">
        <input type="text" class="box2_name" placeholder="输入楼盘地址">
    </div>
    <div class="box_3">
        <input type="button" class="box3_name" value="确定提交">
    </div>
</article>
<div class="hid">
    <div class="box">
        <span class="text">提交成功，稍后会有专人与您联系</span>
        <button class="confirms">确认</button>
    </div>
</div>
<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
<script src="../../public/libs/zepto/touch.js"></script>
<script src="../../public/js/msg/Newbuilding.js"></script>
</body>
</html>