<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发布需求</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../public/css/publish/search.css">
</head>
<body>
<header class="header_box">
    <div class="header_left">
        <input type="text" placeholder="搜索想要发布的大厦" class="header_inp">
    </div>
    <div class="header_right">
        <span class="header_title">取消</span>
    </div>
</header>
<search class="">
    <div class="search_box">
    <span class="search_left">最近搜索</span>
    <span class="search_right">清除</span>
    </div>
</search>
<acrticle >
    <div class="select_box">
        <ul class="form_list">
            <li class="form_li">海文商务楼</li>
            <li class="form_li">国科大厦</li>
            <li class="form_li">会德丰国际广场</li>
        </ul>
    </div>
</acrticle>
</body>
</html>