<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发布房源</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../public/css/publish/underground.css">
</head>
<body>
<header class="header_box">
    <div class="header_left">
        <input type="text" placeholder="地铁" class="header_inp">
    </div>
    <div class="header_right">
        <span class="header_title">取消</span>
    </div>
    <div class="select_box">
        <ul class="form_list">
            <li class="form_li">
                <ul class="form_index">
                    <li class="index_li"><span class="index_title">地铁</span>明珠苑</li>
                    <li class="index_li1">崔建东路198弄</li>
                </ul>

            </li>
            <li class="form_li">
                <ul class="form_index">
                    <li class="index_li">老西门<span class="index_title">地铁</span>站8/9号线</li>
                    <li class="index_li1">金维公寓</li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<search class="">
    <div class="search_box1">
        <span class="search_left1">最近搜索</span>
        <span class="search_right1">清除</span>
    </div>
</search>
<acrticle >
    <div class="select_box1">
        <ul class="form_list1">
            <li class="form_li1">海文商务楼</li>
            <li class="form_li1">国科大厦</li>
            <li class="form_li1">会德丰国际广场</li>
        </ul>
    </div>
</acrticle>
</body>
</html>