body {
  background-color: #efefef;
  margin: 0px;
  padding: 0px;
  font-family: SimHei;
}
.header {
  height: 35px;
  line-height: 35px;
  background-color: #fff;
  text-align: center;
  position: relative;
  border: none;
}
.header:after {
  content: '';
  position: absolute;
  top: 35px;
  left: 0px;
  z-index: 5;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #dfe0e4;
}
.header .icon-back {
  width: 28px;
  height: 28px;
  background: url("../../image/person/nav_icon_back@2x.png") no-repeat 10px center;
  background-size: 10px;
  position: absolute;
  top: 5px;
  left: 0px;
  display: inline-block;
  line-height: 20px;
}
.header .header_title {
  font-size: 18px;
}
.banner {
  height: 250px;
  position: relative;
}
.banner .banner_img {
  width: 148px;
  height: 148px;
  background: url("../../image/login/shi.png") no-repeat center;
  background-size: 74px;
  position: absolute;
  top: 10%;
  left: 30%;
}
.banner .banner_title {
  width: 142px;
  height: 38px;
  background: url("../../image/person/content_text_logo@2x.png") no-repeat center;
  background-size: 71px 19px;
  position: absolute;
  top: 55%;
  left: 25%;
}
.banner .banner_title .banner_txt {
  position: absolute;
  color: #9f9f9f;
  top: 30%;
  left: 80%;
  letter-spacing: 0.001rem;
}
.box1 {
  height: 50px;
  background-color: #fff;
  margin-top: 10px;
  line-height: 50px;
  padding-left: 15px;
  position: relative;
}
.box1:after {
  content: '';
  width: 16px;
  height: 20px;
  position: absolute;
  background: url("../../image/person/content_list_right_icon@2x.png") no-repeat right center;
  right: 15px;
  background-size: 50%;
  top: 15px;
}
.box1 .box_right1 {
  display: inline-block;
  position: absolute;
  font-size: 14px;
  color: #9f9f9f;
  right: 30px;
}
