body
  margin 0
  padding 0
  background #121211
  color #ffffff
  .header
    height 215px
    width 100%
    background url("../../image/person/banner_img@2x.png") no-repeat center
    background-size 100% 215px
    position relative
    .icon-top
      height 25px
      width 100%
      background url("../../image/person/banner_img_shadow@2x.png") no-repeat center top
      background-size 100% 25px
      .icon-back
        width 25px
        height 25px
        display block
        background url("../../image/person/nav_back_icon@2x.png") no-repeat center
        background-size 15px 25px
        position absolute
        top 20px
        left 20px
    .info
      height 25px
      line-height 25px
      position absolute
      bottom 10px
      left 2%
      right 2%
      font-size 12px
      .price
        color #ea5404
        font-size 22px
      .index
        float right
        font-size 16px
        .in
          font-size 22px
.content
  padding 10px
  position absolute
  top 215px
  bottom 40px
  overflow auto
  overflow-x hidden
  td
    height 40px
    line-height 25px
    border-top 1px solid #474743
    &:nth-child(1),&:nth-child(3)
      color #707070
      font-size 14px
      width 24%
      padding-left 2%
    &.t1
      font-size 12px
      .num
        color #ea5404
        font-size 18px
    &.infos
      padding 15px 0

.btns
  width 100%
  height 40px
  background #ea5404
  border none
  position absolute
  bottom 0
  color #ffffff

.hid
  display none
  position fixed
  top 0
  bottom 0
  width 100%
  background #b2b2b2
  .box
    width 72%
    height 110px
    background #ffffff
    border-radius 10px
    position absolute
    left 14%
    top 50%
    margin-top -55px
    .text
      display inline-block
      width 100%
      height 66px
      line-height 66px
      text-align center
      color #323232
      border-bottom 1px solid #d6d7dc
    .btn
      color #ea5404
      height 40px
      line-height 40px
      width 48%
      border none
      outline none
      border-radius 5px 0 0 5px
      background-color #ffffff
      &.btn1
        color #737373
.datebox
  display none
  width 72%
  height 110px
  background #ffffff
  border-radius 10px
  position absolute
  left 14%
  top 50%
  margin-top -55px
  .text
    display inline-block
    width 100%
    height 33px
    line-height 33px
    text-align center
    color #323232
  input
    width 100%
    height 33px
    background #efeff4
    border none
    outline none
    text-indent 13em
  .btn
    color #ea5404
    height 40px
    line-height 40px
    width 48%
    border none
    outline none
    border-radius 5px 0 0 5px
    background-color #ffffff
    border-top 1px solid #d6d7dc
    &.btn1
      color #737373


















