*
  outline none
body
  margin 0
  padding 0
  background-color #efefef
  font-family SimHei
.header
  width 100%
  height 35px
  background-color #FFFFFF
  line-height 35px
  text-align center
  .icon-right
    width 32px
    height 32px
    background url('../../image/person/nav_set_icon@2x.png') no-repeat center 10px
    background-size 16px 16px
    line-height 20px
    position absolute
    top 0px
    right 10px
    display inline-block
.login_box
  position relative
  height 95px
  display flex
  background-color #FFFFFF
  margin-top 10px
  padding 0 15px
  .login_img
    width 64px
    height 64px
    background url('../../image/person/log in_user-head@2x.png') no-repeat center
    background-size cover
    position absolute
    top 50%
    left 15px
    margin-top -30px
    border-radius 50%
  .login_con
    flex 1
    padding-left 80px
    line-height 95px
  &:after
    content ''
    position absolute
    top 50%
    right 15px
    display block
    margin-top -18px
    width 20px
    height 36px
    background url('../../image/person/log in_right_icon@2x.png') no-repeat center
    background-size 50%
.s_box
  position relative
  height 40px
  background-color #FFFFFF
  display flex
  &:before
    content ''
    width 100%
    position absolute
    border 1px solid #EDEEF0
    top 0px


  .s_left
  .s_right
    display inline-block
    flex 1
    text-align center
    line-height 40px
  &:after
    content ''
    position: absolute
    top 2px
    right 50%
    display block
    width 1px
    height 35px
    background-color #CCCCCC
    z-index 5
  & span
    padding 0 2px
.link_cell
  background url('../../image/person/content_list_icon01@2x.png') no-repeat left 15px center
.link_cell1
  background url('../../image/person/content_list_icon02@2x.png') no-repeat left 15px center
.link_cell2
  background url('../../image/person/content_list_icon03@2x.png') no-repeat left 15px center
.link_cell3
  background url('../../image/person/content_list_icon04@2x.png') no-repeat left 15px center
.link_cell4
  background url('../../image/person/content_list_icon05@2x.png') no-repeat left 15px center
.link_cell,.link_cell1,.link_cell2,.link_cell3,.link_cell4
  position relative
  height 50px
  background-size 20px
  background-color #FFFFFF
  margin-top 10px
  padding-left 45px
.link_cell,.link_cell1,.link_cell2,.link_cell3,.link_cell4
  :after
    content ''
    position absolute
    top 50%
    right 15px
    margin-top -15px
    width 16px
    height 30px
    background url('../../image/person/content_list_right_icon@2x.png') no-repeat  right center
    background-size 50%
  .link-info
    line-height 50px
footer.bottom-list
  width 100%
  padding 2% 0
  border-top 1px solid #d6d7dc
  background-color #FFFFFF
  position fixed
  bottom 0
  display flex
  .bottom-column
    text-align center
    flex 1
    img
      width 22px
    img.add-img
      width 42px
    p
      margin 0
      font-size 0.8rem
      color #b4b4b4
    p.active
      color $orange
      position relative
      &:after
        content '3'
        color #FFFFFF
        width 15px
        height 15px
        border-radius 50%
        text-align center
        line-height 15px
        background-color #ec461f
        position absolute
        display block
        top -27px
        left 42px


















