body
  background-color #efefef
  margin 0px
  padding 0px
  font-family SimHei
.header
  height 35px
  line-height 35px
  background-color #FFFFFF
  text-align center
  position relative
  border none
  &:after
    content ''
    position absolute
    top 35px
    left 0px
    z-index 5
    display block
    height 1px
    width 100%
    background-color #DFE0E4
  .icon-back
    width 28px
    height 28px
    background url("../../image/person/nav_icon_back@2x.png") no-repeat 10px center
    background-size 10px
    position absolute
    top 5px
    left 0px
    display inline-block
    line-height 20px
  .header_title
    font-size 18px
.info_cells
  background-color #FFFFFF
  margin-top 10px
  .info_cell
    padding 0 15px
    display flex
    line-height 40px
    position relative
    .info-name
      flex 3
      font-size 1rem
      color #646464
    .info_img
      position absolute
      left 50%
      width 30px
      height 30px
      display inline-block
      background url("../../image/person/pic.jpg") no-repeat center
      border-radius 50%
      background-size 30px
      top 5px
    .info_icon
      display block
      position absolute
      top 5px
      right 15px
      width 16px
      height 30px
      background url('../../image/person/content_list_right_icon@2x.png') no-repeat  right center
      background-size 50%
      z-index 5
    .info-content
      flex 4
      text-indent 10px
    &:after
      content ''
      position absolute
      top 0px
      left 20px
      z-index 5
      display block
      height 1px
      width 100%
      background-color #efefef
  .info_footer
    display inline-block
  .info_foot
    width 100px
    height 70px
    background-color #878787
    border-radius 5px
    margin-top 20px
    margin-left 15px
  .foot_txt
    font-size 12px
    color #646464
    text-align center
    padding 5px 25px

