$orange=#ed692b
body
  background-color #efefef
  margin 0px
  padding 0px
  font-family SimHei
.header
  height 35px
  line-height 35px
  background-color #FFFFFF
  text-align center
  position relative
    border none
  &:after
    content ''
    position absolute
    top 35px
    left 0px
    z-index 5
    display block
    height 1px
    width 100%
    background-color #DFE0E4
  .icon-back
    width 28px
    height 28px
    background url("../../image/person/nav_icon_back@2x.png") no-repeat 10px center
    background-size 10px
    position absolute
    top 5px
    left 0px
    display inline-block
    line-height 20px
  .header_title
    font-size 18px
.info_box
  padding 20px 15px
  background-color #FFFFFF
  .info_img
    width 100px
    height 100px
    margin  0 auto
    background #000 url("../../image/person/pic.jpg") no-repeat center
    border-radius 50%
    background-size 101px
  .info_name
    text-align center
    line-height 24px
    font-size 1.2rem
    padding 2px 0
  .info_desc
    text-align center
    line-height 18px
    padding 2px 0px
    color #646464
  .info_edit
    width 6em
    margin 0 auto
    padding 8px 14px
    border 1px solid $orange
    border-radius 5px
    color $orange
    font-size 12px
    margin-top 5px
.info_cells
  background-color #FFFFFF
  margin-top 10px
  .info_cell
    padding 0 15px
    display flex
    line-height 40px
    position relative
    .info-name
      flex 3
      font-size 1rem
      color #878787
    .info-content
      flex 4
      text-indent 10px
    &:after
      content ''
      position absolute
      top 0px
      left 20px
      z-index 5
      display block
      height 1px
      width 90%
      background-color #efefef
  .info_footer
    display inline-block
  .info_foot
    width 100px
    height 70px
    background-color #878787
    border-radius 5px
    margin-top 20px
    margin-left 15px
  .foot_txt
    font-size 12px
    color #646464
    text-align center
    padding 5px 25px
























  