* {
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: SimHei;
}
.header {
  width: 100%;
  height: 35px;
  background-color: #fff;
  line-height: 35px;
  text-align: center;
}
.header .icon-right {
  width: 32px;
  height: 32px;
  background: url("../../image/person/nav_set_icon@2x.png") no-repeat center 10px;
  background-size: 16px 16px;
  line-height: 20px;
  position: absolute;
  top: 0px;
  right: 10px;
  display: inline-block;
}
.login_box {
  position: relative;
  height: 95px;
  display: flex;
  background-color: #fff;
  margin-top: 10px;
  padding: 0 15px;
}
.login_box .login_img {
  width: 64px;
  height: 64px;
  background: url("../../image/person/pic.jpg") no-repeat center;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -30px;
  border-radius: 50%;
}
.login_box .login_img:after {
  content: '';
  width: 36px;
  height: 36px;
  background: url("../../image/person/log-in_member_icon@2x.png") no-repeat center;
  background-size: 18px;
  position: absolute;
  bottom: -10px;
  right: -10px;
}
.login_box .login_con {
  flex: 1;
  padding-left: 80px;
  position: absolute;
  top: 10px;
}
.login_box:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  margin-top: -18px;
  width: 20px;
  height: 36px;
  background: url("../../image/person/log in_right_icon@2x.png") no-repeat center;
  background-size: 50%;
}
.login_box .login_top {
  font-size: 20px;
}
.login_box .login_bottom {
  position: absolute;
  top: -10px;
  font-size: 0.8rem;
  color: #646464;
  position: relative;
}
.login_box .login_bottom:after {
  content: '';
  width: 22px;
  height: 24px;
  background: url("../../image/person/log-in_edit_icon@2x.png") no-repeat center;
  background-size: 12px 12px;
  position: absolute;
  top: -5px;
}
.s_box {
  position: relative;
  height: 40px;
  background-color: #fff;
  display: flex;
}
.s_box:before {
  content: '';
  width: 100%;
  position: absolute;
  border: 1px solid #edeef0;
  top: 0px;
}
.s_box .s_left,
.s_box .s_right {
  display: inline-block;
  flex: 1;
  text-align: center;
  line-height: 40px;
}
.s_box:after {
  content: '';
  position: absolute;
  top: 2px;
  right: 50%;
  display: block;
  width: 1px;
  height: 35px;
  background-color: #ccc;
  z-index: 5;
}
.s_box span {
  padding: 0 2px;
}
.link_cell {
  background: url("../../image/person/content_list_icon01@2x.png") no-repeat left 15px center;
}
.link_cell1 {
  background: url("../../image/person/content_list_icon02@2x.png") no-repeat left 15px center;
}
.link_cell2 {
  background: url("../../image/person/content_list_icon03@2x.png") no-repeat left 15px center;
}
.link_cell3 {
  background: url("../../image/person/content_list_icon04@2x.png") no-repeat left 15px center;
}
.link_cell4 {
  background: url("../../image/person/content_list_icon05@2x.png") no-repeat left 15px center;
}
.link_cell,
.link_cell1,
.link_cell2,
.link_cell3,
.link_cell4 {
  position: relative;
  height: 50px;
  background-size: 20px;
  background-color: #fff;
  margin-top: 10px;
  padding-left: 45px;
}
.link_cell :after,
.link_cell1 :after,
.link_cell2 :after,
.link_cell3 :after,
.link_cell4 :after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -15px;
  width: 16px;
  height: 30px;
  background: url("../../image/person/content_list_right_icon@2x.png") no-repeat right center;
  background-size: 50%;
}
.link_cell .link-info,
.link_cell1 .link-info,
.link_cell2 .link-info,
.link_cell3 .link-info,
.link_cell4 .link-info {
  line-height: 50px;
}
footer.bottom-list {
  width: 100%;
  padding: 2% 0;
  border-top: 1px solid #d6d7dc;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  display: flex;
}
footer.bottom-list .bottom-column {
  text-align: center;
  flex: 1;
}
footer.bottom-list .bottom-column img {
  width: 22px;
}
footer.bottom-list .bottom-column img.add-img {
  width: 42px;
}
footer.bottom-list .bottom-column p {
  margin: 0;
  font-size: 0.8rem;
  color: #b4b4b4;
}
footer.bottom-list .bottom-column p.active {
  color: #ea5404;
  position: relative;
}
footer.bottom-list .bottom-column p.active:after {
  content: '3';
  color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  background-color: #ec461f;
  position: absolute;
  display: block;
  top: -27px;
  left: 42px;
}
