$orange=#EA5404
body
  background-color #efefef
  margin 0px
  padding 0px
  font-family SimHei
.header
  height 35px
  line-height 35px
  background-color #FFFFFF
  text-align center
  position relative
  border none
  &:after
    content ''
    position absolute
    top 35px
    left 0px
    z-index 5
    display block
    height 1px
    width 100%
    background-color #DFE0E4
  .icon-back
    width 28px
    height 28px
    background url("../../image/person/nav_icon_back@2x.png") no-repeat 10px center
    background-size 10px
    position absolute
    top 5px
    left 0px
    display inline-block
    line-height 20px
  .header_title
    font-size 18px
.box
  height 50px
  background-color #FFFFFF
  margin-top 10px
  line-height 50px
  padding-left 15px
  position relative
  .box_right
    display inline-block
    width 40px
    height 20px
    background-color $orange
    position absolute
    right 10px
    border-radius 50%
    top 12px
  .box_little
    display inline-block
    width 20px
    height 20px
    background-color #FFFFFF
    border-radius 50%
    position absolute
    right 30px
    top 12px
.box1
  height 50px
  background-color #FFFFFF
  margin-top 10px
  line-height 50px
  padding-left 15px
  position relative
  &:after
    content ''
    width 16px
    height 20px
    position absolute
    background url('../../image/person/content_list_right_icon@2x.png') no-repeat right center
    right 15px
    background-size 50%
    top 15px

  .box_right1
    display inline-block
    position absolute
    font-size 14px
    color #9f9f9f
    right 30px
.footer
  margin-top 10px
  height 50px
  line-height 50px
  background-color #FFFFFF
  text-align center




