<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于</title>
    <link rel="stylesheet" href="../public/css/person/about.css">
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">关于</span>
</header>
<div class="banner">
    <div class="banner_img"></div>
    <div class="banner_title"><span class="banner_txt">v1.0.0</span></div>
</div>
<div class="box1">
    <span class="box_self">电话</span>
    <span class="box_right1">0516-00000</span>
</div>
<div class="box1">
    <span class="box_self">服务条款</span>

</div>
</body>
</html>