<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>收藏</title>
    <link rel="stylesheet" href="../public/css/person/collect.css">
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">收藏</span>
</header>
<div class="select_box">
    <span class="select_left">需求</span>
    <span class="select_right">房源</span>
</div>
<article class="demand_cells">
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">一个新的租房需求</span><i class="d-t-tag">租户</i></header>
        <p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m<sup>2</sup>/天左右，附近有地铁</p>
        <footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em
                class="text-time">08/04/12:14</em></footer>
    </section>
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">一个新的租房需求</span><i class="d-t-tag1">经纪人</i></header>
        <p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m<sup>2</sup>/天左右，附近有地铁</p>
        <footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em
                class="text-time">08/04/12:14</em></footer>
    </section>
</article>
</body>
</html>