<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我</title>
    <link rel="stylesheet" href="../public/css/person/me.css">
</head>
<body>
<header class="header">
    <span class="header-title">我</span>
    <i class="icon-right"></i>
</header>
<div class="login_box">
    <div class="login_img"></div>
    <div class="login_con">点击登录/注册</div>
</div>
<div class="s_box">
    <div class="s_left"><span>0</span><span><small>收藏</small></span></div>
    <div class="s_right"><span>0</span><span><small>积分</small></span></div>
</div>
<div class="link_cell">
    <span class="link-info">我发布的需求</span>
</div>
<div class="link_cell1">
    <span class="link-info">我发布的房源</span>
</div>
<div class="link_cell2">
    <span class="link-info">我预约的房源</span>
</div>
<div class="link_cell3">
    <span class="link-info">历史交易</span>
</div>
<div class="link_cell4">
    <span class="link-info">过期房源</span>
</div>
<footer class="bottom-list">
    <div class="bottom-column">
        <img src="../../public/image/msg/bottom_nor_icon04@2x.png" alt="">
        <p>首页</p>
    </div>
    <div class="bottom-column">
        <img src="../../public/image/msg/bottom_nor_icon03@2x.png" alt="">
        <p>预约</p>
    </div>
    <div class="bottom-column">
        <img class="add-img" src="../../public/image/msg/bottom_icon05@2x.png" alt="">
    </div>
    <div class="bottom-column">
        <img src="../../public/image/msg/bottom_press_icon02@2x.png" alt="">
        <p class="active">信息</p>
    </div>
    <div class="bottom-column">
        <img src="../../public/image/msg/bottom_nor_icon01@2x.png" alt="">
        <p>我</p>
    </div>
</footer>
</body>
</html>