<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>设置</title>
    <link rel="stylesheet" href="../public/css/person/setting.css">
</head>
<body>
<header class="header">
    <i class="icon-back"></i>
    <span class="header_title">设置</span>
</header>
<div class="box">
    <span class="box_self">接收需求</span>
    <span class="box_right"></span>
    <span class="box_little"></span>
</div>
<div class="box1">
    <span class="box_self">关于</span>
</div>
<div class="box1">
    <span class="box_self">清楚缓存</span>
    <span class="box_right1">7.02M</span>
</div>
<div class="footer">
    <span class="box_self">退出登录</span>
</div>
</body>
</html>