body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #efefef;
}
header {
  height: 35px;
  background: #fff;
  line-height: 35px;
}
header .icon-back {
  position: absolute;
  top: 2px;
  left: 5px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../../image/login/nav_back_icon@2x.png") no-repeat center;
  background-size: 12px 18px;
}
header .header_title {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #ed692b;
}
.text {
  display: inline-block;
  padding: 10px 5px;
  color: #999;
  width: 100%;
}
.content_box {
  width: 60%;
  padding: 5% 20%;
  background: #fff;
}
.content_box .photo {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  text-align: center;
  line-height: 90px;
  color: #fff;
  background: #878787;
  border-radius: 50%;
  margin-bottom: 10px;
}
.content_box input {
  background: #efeff4;
  border: none;
  margin-bottom: 5px;
  padding: 10px;
  width: 92%;
  border-radius: 5px;
}
.content_box2 {
  width: 88%;
  padding: 6%;
  background: #fff;
}
.content_box2 input {
  background: #efeff4;
  border: none;
  margin-left: 14%;
  margin-bottom: 5px;
  padding: 10px;
  width: 70%;
  border-radius: 5px;
}
.content_box2 .row {
  margin-top: 5%;
  width: 100%;
  display: inline-block;
  color: #fff;
}
.content_box2 .row .photo1 {
  font-size: 12px;
  width: 28%;
  height: 65px;
  float: left;
  background: #878787;
  text-align: center;
  line-height: 65px;
  margin-right: 8%;
  border-radius: 5px;
}
.content_box2 .row .photo1.photo2 {
  margin-right: 0;
}
.btn {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  color: #fff;
  background: #ea5404;
  border: none;
  border-radius: 5px;
}
