body
  margin 0
  padding 0
  background #efefef
header
  height 35px
  background #ffffff
  line-height 35px
  .icon-back
    position absolute
    top 2px
    left 5px
    display inline-block
    width 30px
    height 30px
    background url("../../image/login/nav_back_icon@2x.png") no-repeat center
    background-size 12px 18px
  .header_title
    display inline-block
    width 100%
    text-align center
    color #ed692b
.form-list
  width 100%
  height 80px
  margin-top 5%
  background #fff
  .form-cell
    display flex
    height 40px
    line-height 40px
    border-bottom 1px solid #efefef
    .form-cell-name
      display inline-block
      width 50px
      padding-left 40px
      background url("../../image/login/content_ID_icon@2x.png") no-repeat 10px center
      background-size 25%
      &.form-cell-password
        background url("../../image/login/content_password_icon@2x.png") no-repeat 10px center
        background-size 20%
    .form-cell-input
      flex 1
      border none
      outline none
.btn_box
  padding-left 3%
  button
    border none
    border-radius 5px
  .login
    padding 3% 0
    width 96%
    color #ffffff
    background #c7c7c7
    margin-top 10%
    margin-bottom 5%
    &.active
      background #EA5404
  .register
    color #ed692b
    background transparent
  .forget
    color #666
    background transparent
    float right
