body
  margin 0
  padding 0
  background #efefef
  font-size 14px
ul
  list-style none
  margin 0
  padding 0

header
  width 100%
  height 320px
  overflow-x hidden
  position relative
  .title
    position absolute
    top 25px
    left 0
    right 0
    padding 0 10px
    height 25px
    line-height 25px
    color #ffffff
    .city
      display block
      float left
      width 38%
      &:after
        content ""
        width 10px
        height 7px
        background url("../../image/index/nav_icon_down@2x.png") no-repeat center
        background-size 10px 7px
        display block
        position absolute
        top 9px
        left 45px
    .titles
      display block
      float left
      font-size 20px
  .search
    width 94%
    height 35px
    line-height 35px
    position absolute
    top 65px
    left 3%
    text-align center
    background #ffffff
    border-radius 5px
    color #b8b8b8
    font-size 12px
    &:after
      content ""
      width 14px
      height 14px
      display block
      background url("../../image/index/nav_icon_search@2x.png") no-repeat center
      background-size 14px 14px
      position absolute
      top 10px
      left 28%
  .slider
    height 320px
    width 400%
    transition all .5s
    transform translateX(0)
    li
      float left
      width 25%
      img
        width 100%
        height 320px
  .index
    width 100px
    height 25px
    position absolute
    bottom 10px
    left 50%
    margin-left -50px
    li
      width 25px
      height 25px
      float left
      background url("../../image/index/banner_icon_point_nor@2x.png") no-repeat center
      &.active
        background url("../../image/index/banner_icon_point_press@2x.png") no-repeat center
article
  margin-top 10px
  ul
    height 45px
    background #ffffff
    border-bottom 1px solid #d7d8dd
    li
      float left
      margin-top 10px
      height 30px
      line-height 30px
      width 21%
      text-align center
      position relative
      border-right 1px solid #d7d8dd
      &:after
        content ""
        width 10px
        height 6px
        background url("../../image/index/content_icon02_nor@2x.png") no-repeat center
        background-size 10px 6px
        display block
        position absolute
        bottom 0
        left 50%
        margin-left -5px
      &:last-child
        width 14%
        border-right none
        background url("../../image/index/content_icon01_nor@2x.png") no-repeat center
        background-size 19px 19px
        &:after
          content ""
          display none
        &.up
          background url("../../image/index/content_icon01_litre@2x.png") no-repeat center
          background-size 19px 19px
        &.down
          background url("../../image/index/content_icon01_down@2x.png") no-repeat center
          background-size 19px 19px
.list
  height 115px
  padding 10px
  background #ffffff
  margin-top 10px
  position relative
  .icon-back
    display block
    width 34%
    margin-right 6%
    height 110px
    float left
    background url("../../image/index/content_img_list@2x.png") no-repeat center
    background-size 130px 110px
  .info
    float left
    width 53%
    height 100px
    line-height 25px
    font-size 12px
    .title
      display block
      font-size 18px
      font-weight bold
      margin-top 0
      .icon-lo
        display block
        width 15px
        height 15px
        background url("../../image/index/collect_icon_nor@2x.png") no-repeat center
        background-size 15px 15px
        position absolute
        right 6%
        top 15px
        &.active
          background url("../../image/index/collect_icon_press@2x.png") no-repeat center
          background-size 15px 15px
    .add
      font-size 16px
    button
      color tomato
      background #ffffff
      border 1px solid tomato
      border-radius 5px
    .info-btn
      display inline-block
      .price
        color tomato
        font-size 16px
      .date
        display inline-block
        position absolute
        right 5px
  &:last-child
    margin-bottom 50px
footer
  position fixed
  right 0
  left 0
  bottom 0
  background #fff
  ul
    list-style none
    padding 0
    li
      float left
      width 16%
      height 20px
      padding 2%
      color #999
      text-align center
      padding-top 40px
      &:hover
        color #ea5404
      &.f1
        background url("../../image/index/bottom_press_icon04@2x.png") no-repeat center 10px
        background-size 22px 22px
        color #ea5404
      &.f2
        background url("../../image/index/bottom_nor_icon03@2x.png") no-repeat center 10px
        background-size 22px 22px
      &.f3
        background url("../../image/index/bottom_icon05@2x.png") no-repeat center 10px
        background-size 44px 44px
      &.f4
        background url("../../image/index/bottom_nor_icon02@2x.png") no-repeat center 10px
        background-size 22px 22px
        position relative
      &.f5
        background url("../../image/index/bottom_nor_icon01@2x.png") no-repeat center 10px
        background-size 22px 22px
.publish
  position fixed
  top 0
  bottom 0
  width 100%
  z-index 10
  display none
  background rgba(0,0,0,0.9)
  .con
    width 68%
    position fixed
    left 16%
    bottom 110px
    height 120px
    .left,.right
      width 95px
      height 95px
      border-radius 50%
      float left
      background url("../../img/publish/publish_btn02@2x.png") no-repeat center
      background-size 95px 95px
      position relative
      span
        display block
        width 95px
        text-align center
        position absolute
        bottom -25px
        color: #ffffff
      &.right
        background url("../../image/index/publish_btn01@2x.png") no-repeat center
        background-size 95px 95px
        float right
  .bottom
    height 60px
    background url("../../image/index/publish_close_icon@2x.png") no-repeat center #242221
    background-size 16px 16px
    position fixed
    bottom 0
    width 100%

.icon-top
  width 47px
  height 47px
  display block
  background url("../../image/index/content_btn_back@2x.png") no-repeat center
  background-size 47px 47px
  position fixed
  right 12%
  bottom 90px
.search-box,.city-box
  position fixed
  top 0
  bottom 0
  width 100%
  background #ffffff
  display none
  .head
    height 50px
    line-height 50px
    &:after
      content ""
      width 14px
      height 14px
      display block
      background url("../../image/index/nav_icon_search@2x.png") no-repeat center
      background-size 14px 14px
      position absolute
      top 20px
      left 6%
    .search1
      width 80%
      height 35px
      line-height 35px
      border none
      outline none
      position absolute
      top 10px
      left 3%
      text-align left
      text-indent 3em
      background #efefef
      border-radius 5px
      color #ea5404
      font-size 12px

    .cancel
      display block
      color #ea5404
      position absolute
      right 3%
      top 0
  .menu
    height 35px
    line-height 35px
    background #efefef
    color #646464
    padding 0 6% 0 9%
    .clean
      float right
  ul
    position absolute
    top 85px
    bottom 0
    left 0
    right 0
    padding-left 9%
    font-size 18px
    font-weight 500
    li
      height 35px
      line-height 35px
      border-bottom 1px solid #e1e1e1
.city-box
  z-index 9
  .head
    font-weight bold
    text-align center
    padding 0 5%
    font-size 18px
    border-bottom 1px solid #d6d7dc
    &:after
      content ""
      display none
    .close
      color #ea5404
      font-weight 400
      float left
  ul
    top 50px
    li:last-child
      border-bottom none

.query-box
  position fixed
  top 0
  bottom 68px
  width 100%
  background rgba(0,0,0,0.5)
  display none
  .top
    height 50px
    line-height 50px
    padding 0 3%
    color #ffffff
    background #000000
    &:after
      content ""
      width 14px
      height 14px
      display block
      background url("../../image/index/nav_icon_search@2x.png") no-repeat center
      background-size 14px 14px
      position absolute
      top 20px
      left 30%
    .city
      display block
      float left
      width 38%
      &:after
        content ""
        width 10px
        height 7px
        background url("../../image/index/nav_icon_down@2x.png") no-repeat center
        background-size 10px 7px
        display block
        position absolute
        top 22px
        left 45px
    .search1
      width 60%
      height 30px
      line-height 30px
      border none
      outline none
      position absolute
      top 10px
      left 20%
      text-align center
      background #efefef
      border-radius 5px
      color #ea5404
      font-size 12px
  .query-title
    height 45px
    background #ffffff
    border-bottom 1px solid #d7d8dd
    li
      float left
      margin-top 10px
      height 30px
      line-height 30px
      width 21%
      text-align center
      position relative
      border-right 1px solid #d7d8dd
      &:after
        content ""
        width 10px
        height 6px
        background url("../../image/index/content_icon02_nor@2x.png") no-repeat center
        background-size 10px 6px
        display block
        position absolute
        bottom 0
        left 50%
        margin-left -5px
      &.active
        color #ea5404
        &:after
          content ""
          width 10px
          height 6px
          background url("../../image/index/content_icon02_press@2x.png") no-repeat center
          background-size 10px 6px
          display block
          position absolute
          bottom 0
          left 50%
          margin-left -5px
      &:last-child
        width 14%
        border-right none
        background url("../../image/index/content_icon01_nor@2x.png") no-repeat center
        background-size 19px 19px
        &:after
          content ""
          display none
        &.up
          background url("../../image/index/content_icon01_litre@2x.png") no-repeat center
          background-size 19px 19px
        &.down
          background url("../../image/index/content_icon01_down@2x.png") no-repeat center
          background-size 19px 19px
  .content
    height 425px
    background #efefef
    position relative
    li.active
      background #ffffff
    li.active2
      color #ea5404
    .region,.many
      display none
      ul
        width 50%
        height 100%
        background #efefef
        &.left li:hover
          background #ffffff
        &.right
          position absolute
          background #ffffff
          display none
          right 0
          top 0
          &.actives
            display block
          li
            border-bottom 1px solid #d7d8dd
        li
          height 30px
          line-height 30px
          padding-left 6%
    .area,.price
      display none
      li
        height 30px
        width 100%
        line-height 30px
        text-align center
        &:hover
          background #ffffff
        &:last-child
          color #b4b4b4
          padding 5px
          &:hover
            background #efefef
        input
          width 70px
          height 30px
          border none
          border-radius 5px
        button
          width 55px
          height 30px
          border none
          border-radius 5px
          background #ffffff
          margin-left 10px






