body {
  background: #b2b2b2;
}
.info_box {
  display: inline-block;
  position: absolute;
  left: 10%;
  top: 40%;
  width: 80%;
  height: 20%;
  text-align: center;
  background: #fff;
  border-radius: 20px;
}
.info_box .text {
  display: inline-block;
  width: 100%;
  padding: 10% 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #d6d7dc;
}
.info_box .btn {
  color: #ea5404;
  border: none;
  background-color: #fff;
}
