body {
  margin: 0;
  padding: 0;
  background: #efefef;
}
header {
  height: 35px;
  background: #fff;
  line-height: 35px;
}
header .icon-back {
  position: absolute;
  top: 2px;
  left: 5px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../../img/login/nav_back_icon@2x.png") no-repeat center;
  background-size: 12px 18px;
}
header .header_title {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #ed692b;
}
.form-list {
  width: 100%;
  height: 200px;
  margin-top: 5%;
  background: #fff;
}
.form-list .form-cell {
  display: flex;
  height: 40px;
  line-height: 40px;
  position: relative;
  border-bottom: 1px solid #efefef;
}
.form-list .form-cell .form-cell-name {
  display: block;
  width: 70px;
  padding-left: 40px;
  background: url("../../image/login/content_ID_icon@2x.png") no-repeat 10px center;
  background-size: 18px 50%;
}
.form-list .form-cell .form-cell-name.form-cell-mark {
  background: url("../../image/login/content_verify_icon@2x.png") no-repeat 10px center;
  background-size: 18px 50%;
}
.form-list .form-cell .form-cell-name.form-cell-password {
  background: url("../../image/login/content_password_icon@2x.png") no-repeat 10px center;
  background-size: 18px 50%;
}
.form-list .form-cell .form-cell-name.form-cell-sf {
  background: url("../../image/login/content_position_icon@2x.png") no-repeat 10px center;
  background-size: 18px 50%;
}
.form-list .form-cell .btn_mark {
  background: #ed692b;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  height: 30px;
  margin: 5px 0;
  margin-right: 12px;
}
.form-list .form-cell .form-cell-input {
  flex: 1;
  border: none;
  outline: none;
}
.form-list .form-cell #sf {
  color: #999;
  width: 90%;
  margin-right: 15px;
  height: 36px;
  background: url("../../img/index/content_icon02_nor@2x.png") right center no-repeat;
  text-indent: 1em;
}
.form-list .form-cell .hid_sf {
  display: none;
  color: #fff;
  background-color: #a3a3a3;
  width: 75px;
  height: 155px;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  right: 15px;
  top: 25px;
}
.form-list .form-cell .hid_sf span {
  display: block;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #e6e6e6;
}
.btn_box {
  padding-left: 3%;
}
.btn_box .register {
  padding: 3% 0;
  border: none;
  border-radius: 5px;
  width: 96%;
  color: #fff;
  background: #c7c7c7;
  margin-top: 10%;
  margin-bottom: 5%;
}
.btn_box .register.active {
  background: #ea5404;
}
.btn_box .btn-text {
  display: inline-block;
  width: 100%;
  color: #707071;
  font-size: 14px;
  text-align: center;
}
.btn_box .btn-text a {
  color: #ed692b;
}
