<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册-代理商身份完善.</title>
    <link rel="stylesheet" href="../public/css/login/commercialAgent.css">
</head>
<body>
<header class="header">
    <i class="icon_back"></i>
    <span class="header_title">代理商</span>
</header>
<div class="banner-box">必填项</div>

<div class="info_box">
    <div class="info_img"><span class="info_txt">添加头像</span></div>
    <div class="info_cell">
   <span class="info_name">公司名</span>
    </div>
    <div class="info_cell">
        <span class="info_name">企业邮箱/公司总机</span>
    </div>
    <div class="info_cell">
        <span class="info_name">联系人</span>
    </div>
    <div class="info_cell">
        <span class="info_name">联系方式</span>
    </div>
</div>
<div class="banner-box">选填项</div>
<div class="footer">
    <div class="info_cell">
        <span class="info_name">微信号码</span>
    </div>

        <div class="image-block">
            <img src="" alt="">
            <p class="title">微信二维码</p>
        </div>
        <div class="image-block">
            <img src="" alt="">
            <p class="title">营业执照</p>
        </div>
        <div class="image-block">
            <img src="" alt="">
            <p class="title">租售代理协议</p>
        </div>
    </div>

<div class="bt_box">
    <button class="bt_login">完成</button>
</div>
</body>
</html>