<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="南京锋耀达网络科技有限公司">
    <meta name="description"
          content="南京锋耀达网络科技有限公司  公司主要经营教育软件 多媒体技术 游戏软件 计算机数据处理技 术 计算机系统集成 教育信息咨询，公司秉承与客户共赢理念，为企业提供高效、务实的互联网营销服务，在专业 市场的电子商务建设领域具有独特优势和丰富经验。"/>
    <title>十面八房 - 南京锋耀达网络科技有限公司</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="../public/css/login/forgetPassSuccess.css">
</head>
<body>
<div class="info_box">
    <span class="text">密码已经修改，稍后自动返回登录页面</span>
    <button class="btn" onclick="location='load.html'">确认</button>
</div>
<script src="../public/js/login/forgetPassSucess.js"></script>
</body>
</html>