<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册完成-提示框.png</title>
    <link rel="stylesheet" href="../public/css/login/promptBox.css">
</head>
<body>

<div class="middle">
    <div class="title">
        <span>注册完成，等待后天确认</span>
    </div>
    <div class="sure">确认</div>
</div>
</body>
</html>