body {
  background-color: #efefef;
  margin: 0px;
  padding: 0px;
  font-family: SimHei;
}
.header {
  height: 35px;
  line-height: 35px;
  background-color: #fff;
  text-align: center;
  position: relative;
  border: none;
}
.header:after {
  content: '';
  position: absolute;
  top: 35px;
  left: 0px;
  z-index: 5;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #dfe0e4;
}
.header .icon-back {
  width: 28px;
  height: 28px;
  background: url("../../image/person/nav_icon_back@2x.png") no-repeat 10px center;
  background-size: 10px;
  position: absolute;
  top: 5px;
  left: 0px;
  display: inline-block;
  line-height: 20px;
}
.header .header_title {
  font-size: 18px;
}
.select_box {
  height: 35px;
  line-height: 35px;
  background-color: #fff;
  margin-top: 10px;
  display: flex;
}
.select_box .select_left {
  flex: 1;
  padding: 0 70px;
  color: #000;
}
.select_box .select_right {
  flex: 1;
  padding: 0 70px;
  color: #ea5404;
  position: relative;
}
.select_box .select_right:after {
  content: '';
  width: 1px;
  height: 20px;
  position: absolute;
  left: 0px;
  background-color: #c0c0c0;
  top: 7px;
}
.select_box .select_right:before {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #ea5404;
  position: absolute;
  top: 35px;
  left: 0px;
}
.select_box .select_right:first-child:before {
  display: none;
}
.select_box .select_right:first-child:after {
  display: none;
}
.block_box {
  height: 100px;
  padding: 15px;
  background-color: #fff;
  margin-top: 10px;
  position: relative;
}
.block_box .img_box {
  width: 256px;
  height: 180px;
  background: url("../../image/index/content_img_list@2x.png") no-repeat left center;
  background-size: 128px 100px;
  position: absolute;
  top: -30px;
}
.block_box .info_box {
  padding-left: 150px;
  position: relative;
}
.block_box .info_box .info-title {
  color: #323232;
  margin-bottom: 3px;
}
.block_box .info_box .info-title .title_left {
  font-size: 18px;
}
.block_box .info_box .info-title:after {
  content: '';
  width: 28px;
  height: 26px;
  background: url("../../image/index/collect_icon_press@2x.png") no-repeat right center;
  background-size: 14px 13px;
  position: absolute;
  right: 0px;
  top: -5px;
}
.block_box .info_box .info-address {
  font-size: 16px;
  color: #9f9f9f;
  margin-bottom: 3px;
}
.block_box .info_box .info-tag_box {
  width: 70px;
  height: 25px;
  border: 1px solid #ea5404;
  border-radius: 5px;
  text-align: center;
}
.block_box .info_box .info-tag_box .t_b_t {
  font-size: 0.8rem;
  color: #ea5404;
  text-align: center;
  line-height: 25px;
}
.block_box .info_box .info-price {
  font-size: 14px;
  margin-top: 8px;
  position: relative;
}
.block_box .info_box .info-price .price_left {
  color: #9f9f9f;
}
.block_box .info_box .info-price .price_left em {
  font-style: normal;
  color: #ea5404;
  padding-right: 5px;
}
.block_box .info_box .info-price .price_right {
  position: absolute;
  right: -5px;
  color: #9f9f9f;
  top: 1px;
}
