body {
  background-color: #efefef;
  margin: 0px;
  padding: 0px;
  font-family: SimHei;
}
.header {
  height: 35px;
  line-height: 35px;
  background-color: #fff;
  text-align: center;
  position: relative;
  border: none;
}
.header:after {
  content: '';
  position: absolute;
  top: 35px;
  left: 0px;
  z-index: 5;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #dfe0e4;
}
.header .icon-back {
  width: 28px;
  height: 28px;
  background: url("../../image/person/nav_icon_back@2x.png") no-repeat 10px center;
  background-size: 10px;
  position: absolute;
  top: 5px;
  left: 0px;
  display: inline-block;
  line-height: 20px;
}
.header .header_title {
  font-size: 18px;
}
.select_box {
  height: 35px;
  line-height: 35px;
  background-color: #fff;
  margin-top: 10px;
  display: flex;
}
.select_box .select_left {
  flex: 1;
  padding: 0 70px;
  color: #ea5404;
  position: relative;
}
.select_box .select_left:before {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #ea5404;
  position: absolute;
  top: 35px;
  left: 0px;
}
.select_box .select_right {
  flex: 1;
  padding: 0 70px;
  color: #000;
  position: relative;
}
.select_box .select_right:after {
  content: '';
  width: 1px;
  height: 20px;
  position: absolute;
  left: 0px;
  background-color: #c0c0c0;
  top: 7px;
}
.select_box .select_right:first-child:after {
  display: none;
}
.demand_cells {
  padding: 15px;
}
.demand_cells .demand_cell {
  width: 100%;
  min-height: 100px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px #e0e0e0;
  line-height: 30px;
  background: #fff;
  margin-bottom: 10px;
}
.demand_cells .demand_cell .demand-title {
  display: flex;
  height: 30px;
  padding: 0 10px;
  border-bottom: 1px dashed #ccc;
}
.demand_cells .demand_cell .demand-title .d-t-name {
  flex: 1;
}
.demand_cells .demand_cell .demand-title .d-t-tag,
.demand_cells .demand_cell .demand-title .d-t-tag1 {
  display: inline-block;
  width: 50px;
  height: 16px;
  margin: 7px 0;
  padding: 2px 0;
  border-radius: 5px;
  color: #fff;
  line-height: 16px;
  text-align: center;
  font-style: normal;
  font-size: 0.8rem;
}
.demand_cells .demand_cell .demand-title .d-t-tag {
  background-color: #15b755;
}
.demand_cells .demand_cell .demand-title .d-t-tag1 {
  background-color: #0193e6;
}
.demand_cells .demand_cell .demand-info {
  margin: 0;
  padding: 10px;
  line-height: 1.2rem;
  font-size: 0.8rem;
}
.demand_cells .demand_cell .demand-footer {
  display: flex;
  height: 30px;
  padding: 10px;
  line-height: 30px;
}
.demand_cells .demand_cell .btn-detail {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #efeff4;
  color: #998;
  text-align: center;
  font-size: 1rem;
}
.demand_cells .demand_cell .text-time {
  flex: 1;
  font-size: 0.8rem;
  font-style: normal;
  text-align: right;
}
