$orange=#ed692b
*
  outline none/*outline-style 属性用于设置元素的整个轮廓的样式,none定义无轮廓*/
body
  margin 0
  padding 0
  background-color #EFEFEF
  font-family SimHei
.header
  height 35px
  background-color #fff
  line-height 35px
  .icon-back
    position absolute
    top 0
    left 10px
    display inline-block
    width 35px
    height 35px
    line-height 35px
    background-size 10px 16px
  .header-title
    text-align center
    display inline-block
    width 100%
  .icon_right
    position absolute
    right 10px
    top 0px
    color $orange
.select_box
  padding 0px 20px
  margin-top 10px
  height 300px
  .box_1

    .box2_name
      width 90%
      height 40px
      border-radius 5px
      border 1px solid #D6D7DC
      padding 0px 10px
      font-size 1rem

  .box_2
    margin-top 10px
    .box2_name
      width 90%
      height 40px
      border-radius 5px
      border 1px solid #D6D7DC
      padding 0px 10px
      font-size 1rem
  .box_3
    margin-top 10px
    .box3_name

      width 95%
      height 200px
      border 1px solid $orange
      background-color #FFFFFF
      font-size 1rem
      padding 10px 10px
      border-radius 5px
      color #B4B4B4
      margin 0px
      padding 0px
      line-height 20px









