$orange = #ED692B

*
  outline none
body
  background-color #efefef
  font-family SimHei
.header_box
  height 45px
  font-size 0.8rem
  padding 0px 10px
  position relative
  background-color #FFFFFF
  .header_inp
    width 70%
    height 30px
    border-radius 3px
    border 1px solid #c5c5c6
    padding-left 40px
    background-color #F1F1F1
    margin-top 5px
  &:before
    content ''
    width 26px
    height 26px
    background url("../../image/publish/content_search_icon@2x.png") no-repeat left center
    background-size 13px
    position absolute
    top 9px
    left 25px
  .header_right
    right 15px
    position absolute
    top 15px
    color $orange
    .header_title
      font-size 1rem
.search_box
  width 100%
  height 35px
  color #919193
  position relative
  padding 0px 30px
  margin-top 10px
  line-height 35px
  .search_right
    position absolute
    right 100px
    top 0px
.select_box
  width 100%
  height 115px
  background-color #FFFFFF
  .form_list
    list-style none
    margin 0px
    padding 0px

    .form_li
      padding 10px 30px
      position relative
      &:after
        content ''
        width 100%
        height 1px
        position absolute
        top 38px
        left 30px
        background-color #E1E1E1














