<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../public/css/msg/msg-info.css">
</head>
<body>
<header class="tab_box">
    <ul class="tab_bar">
        <li class="tab_bar-cell active">消息</li>
        <li class="tab_bar-cell">通知</li>
        <li class="tab_bar-cell">需求<sup>3</sup></li>
    </ul>
</header>
<artcile class="demand_cells">
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动啦！</span></header>
        <p class="demand-info">霓虹璀璨，凉风习习，越看越美，让人心醉，外滩，陆家嘴，徐汇滨江，北外滩...你眼中“醉美”的滨江夜景在哪里？</p>
        <footer class="demand-footer"><em class="text-time">08/04/12:12</em></footer>
    </section>
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动啦！</span></header>
        <p class="demand-info">霓虹璀璨，凉风习习，越看越美，让人心醉，外滩，陆家嘴，徐汇滨江，北外滩...你眼中“醉美”的滨江夜景在哪里？</p>
        <footer class="demand-footer"><em class="text-time">08/04/12:12</em></footer>
    </section>
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动啦！</span></header>
        <p class="demand-info">霓虹璀璨，凉风习习，越看越美，让人心醉，外滩，陆家嘴，徐汇滨江，北外滩...你眼中“醉美”的滨江夜景在哪里？</p>
        <footer class="demand-footer"><em class="text-time">08/04/12:12</em></footer>
    </section>
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动啦！</span></header>
        <p class="demand-info">霓虹璀璨，凉风习习，越看越美，让人心醉，外滩，陆家嘴，徐汇滨江，北外滩...你眼中“醉美”的滨江夜景在哪里？</p>
        <footer class="demand-footer"><em class="text-time">08/04/12:12</em></footer>
    </section>
</artcile>
<footer class="bottom-list">
    <div class="bottom-column">
        <img src="../../public/image/msg/bottom_nor_icon04@2x.png" alt="">
        <p>首页</p>
    </div>
    <div class="bottom-column">
        <img src="../../public/image/msg/bottom_nor_icon03@2x.png" alt="">
        <p>预约</p>
    </div>
    <div class="bottom-column">
        <img class="add-img" src="../../public/image/msg/bottom_icon05@2x.png" alt="">
    </div>
    <div class="bottom-column">
        <img src="../../public/image/msg/bottom_press_icon02@2x.png" alt="">
        <p class="active">信息</p>
    </div>
    <div class="bottom-column">
        <img src="../../public/image/msg/bottom_nor_icon01@2x.png" alt="">
        <p>我</p>
    </div>
</footer>
</body>
</html>