<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../public/css/msg/msg-notice.css">
</head>
<body>
<header class="tab_box">
    <ul class="tab_bar">
        <li class="tab_bar-cell">消息</li>
        <li class=" tab_bar-cell active">通知</li>
        <li class="tab_bar-cell">需求<sup>3</sup></li>
    </ul>
</header>
<article class="demand_cells">
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">房源维护提示</span><em class="text-time">08/04/14.14</em></header>
        <p class="demand-info">你在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态，5天后该房源将自动下架</p>
        <p class="demand-detail">地址：徐汇-龙华 科技大厦</p>
    </section>
</article>
<article class="demand_cells">
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">房源维护提示</span><em class="text-time">08/04/14.14</em></header>
        <p class="demand-info">你在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态，5天后该房源将自动下架</p>
        <p class="demand-detail">地址：徐汇-龙华 科技大厦</p>
    </section>
</article>
<footer class="bottom-list">
    <div class="bottom-column">
        <img src="../../public/image/msg/bottom_nor_icon04@2x.png" alt="">
        <p>首页</p>
    </div>
    <div class="bottom-column">
        <img src="../../public/image/msg/bottom_nor_icon03@2x.png" alt="">
        <p>预约</p>
    </div>
    <div class="bottom-column">
        <img class="add-img" src="../../public/image/msg/bottom_icon05@2x.png" alt="">
    </div>
    <div class="bottom-column">
        <img src="../../public/image/msg/bottom_press_icon02@2x.png" alt="">
        <p class="active">信息</p>
    </div>
    <div class="bottom-column">
        <img src="../../public/image/msg/bottom_nor_icon01@2x.png" alt="">
        <p>我</p>
    </div>
</footer>
</body>
</html>