<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../public/css/msg/msg_demand.css">
</head>
<body>
<header class="tab_box">
    <ul class="tab_bar">
        <li class="tab_bar-cell">消息</li>
        <li class="tab_bar-cell">通知</li>
        <li class="tab_bar-cell active">需求</li>
    </ul>
</header>
<article class="demand_cells">
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">一个新的租房需求</span><i class="d-t-tag">租户</i></header>
        <p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m<sup>2</sup>/天左右，附近有地铁</p>
        <footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em
                class="text-time">08/04/12:14</em></footer>
    </section>
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">一个新的租房需求</span><i class="d-t-tag1">经纪人</i></header>
        <p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m<sup>2</sup>/天左右，附近有地铁</p>
        <footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em
                class="text-time">08/04/12:14</em></footer>
    </section>
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">一个新的租房需求</span><i class="d-t-tag2">招商</i></header>
        <p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m<sup>2</sup>/天左右，附近有地铁</p>
        <footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em
                class="text-time">08/04/12:14</em></footer>
    </section>
    <section class="demand_cell">
        <header class="demand-title"><span class="d-t-name">一个新的租房需求</span><i class="d-t-tag3">代理商</i></header>
        <p class="demand-info">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m<sup>2</sup>/天左右，附近有地铁</p>
        <footer class="demand-footer"><em class="text-time"></em><span class="btn-detail">了解详情</span><em
                class="text-time">08/04/12:14</em></footer>
    </section>
</article>

<footer class="bottom-list">
    <div class="bottom-column">
        <img src="../../public/image/msg/bottom_nor_icon04@2x.png" alt="">
        <p>首页</p>
    </div>
    <div class="bottom-column">
        <img src="../../public/image/msg/bottom_nor_icon03@2x.png" alt="">
        <p>预约</p>
    </div>
    <div class="bottom-column">
        <img class="add-img" src="../../public/image/msg/bottom_icon05@2x.png" alt="">
    </div>
    <div class="bottom-column">
        <img src="../../public/image/msg/bottom_press_icon02@2x.png" alt="">
        <p class="active">信息</p>
    </div>
    <div class="bottom-column">
        <img src="../../public/image/msg/bottom_nor_icon01@2x.png" alt="">
        <p>我</p>
    </div>
</footer>

</body>
</html>